# dont commit venv stuffs or other artifacts
.venv/*
*.egg-info
*.pyc

# dont commit empty script for testing stuff
temp.py

# dont commit a bunch of NodeJS stuff
attendance_tracker/node_modules

# dont commit MacOS files
.DS_Store
