<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <!-- Title of the individual page (appears in tab) -->
        <title>{% block title %}{{title}}{% endblock %}</title>
            <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet">
    </head>
    <body class="flex bg-cougGray text-white flex-col min-h-screen">

        <!-- Navbar is fixed on every page -->
        <nav class="fixed top-0 left-0 w-full bg-cougCrimson text-white py-2 shadow-md z-50">
            <div class="max-w-7xl mx-auto px-4 flex justify-between items-center">
                <h1 class="text-lg font-[Proxima Nova]">Attendance Tracking App</h1>
                <ul class="flex gap-8 text-base">
                    <li class="relative cursor-pointer">
                    <!-- Menu items: -->
                    <!-- Home -->
                    <a href="/" class="hover:after:w-full after:absolute after:left-0 after:-bottom-1 after:h-[2px] after:w-0 after:bg-white after:transition-all after:duration-300">Home</a></li>
                    <li class="relative cursor-pointer">

                    <!-- Login -->
                    <a href="/h/auth/login" class="hover:after:w-full after:absolute after:left-0 after:-bottom-1 after:h-[2px] after:w-0 after:bg-white after:transition-all after:duration-300">Login</a></li>

                    <!-- Data view -->
                    <li class="relative cursor-pointer">
                    <a href="/h/analytics/data-view" class="hover:after:w-full after:absolute after:left-0 after:-bottom-1 after:h-[2px] after:w-0 after:bg-white after:transition-all after:duration-300">Data Views</a></li>

                    <!-- Admin -->
                    <li class="relative cursor-pointer">
                    <a href="/h/admin/home" class="hover:after:w-full after:absolute after:left-0 after:-bottom-1 after:h-[2px] after:w-0 after:bg-white after:transition-all after:duration-300">Admin</a></li>

                    <!-- The below few buttons aren't staying here permanently, just easier if they're easily visible for now -->
                    <!-- Adding club to db -->
                    <li class="relative cursor-pointer">
                    <a href="/h/admin/add-club" class="hover:after:w-full after:absolute after:left-0 after:-bottom-1 after:h-[2px] after:w-0 after:bg-white after:transition-all after:duration-300">Add club</a></li>

                    <!-- Clubs tab -->
                    <li class="relative cursor-pointer">
                    <a href="/h/admin/clubs" class="hover:after:w-full after:absolute after:left-0 after:-bottom-1 after:h-[2px] after:w-0 after:bg-white after:transition-all after:duration-300">Clubs</a></li>

                    <!-- Assigning a room to a club -->
                    <li class="relative cursor-pointer">
                    <a href="/h/admin/assign-room-to-club" class="hover:after:w-full after:absolute after:left-0 after:-bottom-1 after:h-[2px] after:w-0 after:bg-white after:transition-all after:duration-300">Assign a room</a></li>
                </ul>
            </div>
        </nav>

        <!-- Page specific content -->

        <!-- Individual page name -->
        <h1>{% block name %}{{name}}{% endblock %}</h1>

        <main class="grow pt-20 text-3xl">
            {% block content %}
                {# content goes here #}
            {% endblock %}
        </main>

        <!-- Footer stuff -->
        <footer class="shrink bg-white text-black text-center sticky top-[100vh] py-5">
                <p>Attendance Tracking App 2025</p>
        </footer>
    </body>
</html>
