{% extends "base.html" %}
{% block title %} Clubs {% endblock %}

{% block content %}
<div class="main-content">
    <form>
        {% for field in club %}
        <div>
            <label>{{field}}</label>
        </div>
        {% endfor %}
    </form>

    <!-- From redirect -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <script>
                    alert("{{ messages[0] }}")
                </script>
            {% endif %}
        {% endwith %}
</div>

{% endblock %}
