{% extends "base.html" %}
{% block title %} Clubs {% endblock %}

{% block content %}
<div class="flex justify-center overflow-auto" >
    <table class="table-auto bg-white text-black text-lg border-collapse border rounded-lg" >
        <thead>
            <tr>
                <th scope="col" class="border border-black text-center p-2">Building</th>
                <th scope="col" class="border border-black text-center p-2">Room Number</th>
                <th scope="col" class="border border-black text-center p-2">Assigned Club</th>
                <th scope="col" class="border border-black text-center p-2"></th>
            </tr>
        </thead>
        <tbody>
            {% for building, room, club in clubs %}
            <tr>
                <th scope="row">{{building}}</th>
                <th>{{room}}</th>
                <th>{{club}}</th>
                <th><a class="text-blue-600 hover:text-blue-800 transition-colors duration-200 p-4" href="{{ url_for('admin.club_config', club_name=club) }}">edit</a></th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
