{% extends "base.html" %}
{% block title %} Data View {% endblock %}

{% block content %}
<body>
    <div class="flex items-center justify-center p-4">
        <canvas id="data-view" data="{{ chart_config }}" | tojson class="bg-white shadow rounded-lg p-4 sm:p-5">
        </canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <div>
        <div class="flex items-center justify-center p-4">
            <form action="/h/analytics/data-view" method="post">

                <!-- Room selections -->
                <div class="bg-white text-black border rounded-lg">
                    <label for="room-select" class="block text-sm font-medium text-white dark:text-gray-200">Choose a room:</label>
                    <select name="room" id="room-select">
                        <option value="" class="mt-1.5 w-full rounded-lg border bg-white">Choose a room</option>
                                {% for room in rooms | sort %}
                                    <option>{{ room }}</option>
                                {% endfor %}
                    </select>
                </div>

                <!-- Timeframe options -->
                <div class="bg-white text-black border rounded-lg">
                    <label for="duration-select" class="block text-sm font-medium text-white dark:text-gray-200">Choose a time period:</label>
                    <select name="duration" id="duration-select">
                        <option class="mt-1.5 w-full rounded-lg border bg-white" value="">Choose a timeframe</option>
                            <option>last week</option>
                            <option>last month</option>
                            <option>last three months</option>
                    </select>
                </div>

                <!-- Button -->
                <div class="button bg-cougCrimson text-white border rounded-lg py-2">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>

</body>
<script>
    const ctx = document.getElementById("data-view");
    cfg = JSON.parse(ctx.getAttribute("data"));
    new Chart(ctx, cfg);
</script>
{% endblock %}
